.grass {
  background-color: #48cfb0;
}

.fire {
  background-color: #ce6f2a;
}

.water {
  background-color: #5a7cce;
}

.ice {
  background-color: #83baba;
}

.ice {
  background-color: #83baba;
}

.normal {
  background-color: #a8a878;
}

.electric {
  background-color: #f8d030;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #c03028;
}

.psychic {
  background-color: #f85888;
}

.dark {
  background-color: #705848;
}

.rock {
  background-color: #b8a038;
}

.bug {
  background-color: #a8b820;
}

.ghost {
  background-color: #705898;
}

.steel {
  background-color: #b8b8d0;
}

.dragon {
  background-color: #7038f8;
}

.fairy {
  background-color: #ffaec9;
}
